#filter-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 0.5fr;
  grid-template-rows: 0.5fr 1fr;
  gap: 0.25rem 2rem;
}

.filter-label {
  margin: 0;
  font-size: 0.8rem;
}

#cars-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 2.5rem 8rem;
}
